.main {
  background-color: cornflowerblue;
}

#bodyAbout {
  background-color: cornflowerblue;
}

.box1 {
  width: 250px;
  height: 30px;
  background-color: cornflowerblue;
}

.box2 {
  width: 250px;
  height: 30px;
  background-color: cornflowerblue;
}

.box3 {
  width: 250px;
  height: 30px;
  background-color: cornflowerblue;
}
